<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customerScooping</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color:#f7f9fa;padding:24px">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td width="600">
                    <table width="100%" cellpadding="0" cellspacing="0" style="background-color:#fff">
                        <tbody>
                            <tr>
                                <td style="padding-bottom:24px">
                                    <img style="display:block;width:auto;margin-left:auto;"
                                        src="https://iili.io/2zhR7wJ.md.png" alt="customerScooping" width="500">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:20px 70px;color: #231331;">
                                    <p><b>Hola Anthony,</b></p>
                                    <p style="margin-bottom: 40px;">
                                        En Customer Scoops nos importa mucho tu experiencia, y queremos asegurarnos de
                                        que
                                        nuestros servicios sigan cumpliendo tus expectativas. Por eso, hemos preparado
                                        unas
                                        breves preguntas para que puedas compartir tus comentarios y sugerencias.
                                    </p>
                                    <p>
                                        Tu opinión es clave para ayudarnos a mejorar y adaptarnos a lo que realmente
                                        necesitas. Nos tomará solo unos minutos de tu tiempo.
                                    </p>
                                    <button
                                        style="width: 191px;height: 35px;border-radius: 50rem;background-color: #231331; cursor: pointer;margin: 20px 0;"><a
                                            href="https://cus-scoop-87b4.vercel.app/"
                                            style="text-decoration: none;color: white;border: none;">Ingresa
                                            aquí</a>
                                    </button>
                                    <p style="margin-bottom: 20px;">
                                        Agradecemos de antemano tu participación y confianza en Customer Scoops.
                                        ¡Gracias
                                        por tu tiempo y por contribuir a nuestra mejora continua!
                                    </p>
                                    <p>
                                        Saludos, <br>
                                        Nassahel Elías <br>
                                        Equipo de Customer Scoops 
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;padding: 30px 0;background-color: #231331;" align="center">
                                    <img src="https://iili.io/2zhtykG.png" alt="" style="margin: 0 auto;width: 90px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>

</html>